.git
.gitignore
.vscode
.idea
.DS_Store

node_modules
bun.lockb
package-lock.json
yarn.lock

.env
.env.*
!.env.example
secrets.dev.yaml

Dockerfile*
docker-compose*
compose.y*ml
.dockerignore

dist
out
build
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.bun-build

README.md
LICENSE
docs